extends layout

block content
  h1= title
  a(href='/auth/figma') Sign in with Figma
  br
  h2 Workspaces
  a(href='/app/team/add') Add a team
  if files
    br
    each file in files
      iframe(height='450' width='800' allowfullscreen src= file.fileEmbedURL)
