extends layout

block content
  h1= title
  iframe(height='450' width='800' allowfullscreen src='https://www.figma.com/embed?embed_host=bunchofpixels&url=https://www.figma.com/file/S4SOa0IbXAjCCYV0hLEop80E/bunchofpixels')
